.blog {
  &.blog-full-page h1 {
    padding-top: 0;
  }

  .blog-post-link {
    display: block;
    margin: 1.5rem auto;
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: 1.5rem;
    background: #fafafa;

    p {
      margin-bottom: 0;
    }

    .date {
      font-size: 0.75rem;
      color: #555;
      margin: 0.5rem 0 1rem 0;
    }
  }

  .more-blog-posts-btn{
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

